* {
	margin: 0;
	padding: 0;
	font-family: "microsoft yahei";
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #515151;
}

a:hover {
	color: #31a5e7;
}

img {
	border: none;
}

.pa {
	position: absolute;
}

.pr {
	position: relative;
}

.wrap {
	width: 1200px;
	margin: 0 auto;
}


/*top-bar*/

.top-bar {
	height: 40px;
	border-bottom: 1px solid #eaeaea;
	background: #f8f8f8;
}

.top-bar .top-left {
	width: 250px;
	float: left;
}

.top-bar .top-left a {
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-left: 1px solid #eaeaea;
	color: #555;
	text-align: center;
	float: left;
	font-size: 13px;
}

.top-bar .top-left a:nth-child(2) {
	border-right: 1px solid #eaeaea;
}

.top-bar .top-left a:hover {
	color: #ec0927;
}

.top-bar .top-right {
	color:#0e0e0e;
	line-height: 40px;
	float: right;
	font-size: 12px;
}

.top-bar .top-right b {
	font-size: 18px;
}


/*nav*/

.nav .logo {
	display: block;
	width: 130px;
	height: 90px;
	float: left;
}

.nav .menu {
	width: 700px;
	height: 90px;
	float: left;
	font-size: 16px;
	margin-left: 70px;
}

.nav .menu li {
	width: 100px;
	height: 90px;
	line-height: 90px;
	float: left;
}

.nav .search-box {
	float: left;
	padding-top: 30px;
}

.nav .search-box .search-url {
	width: 175px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #d1d1d1;
	color: #d1d1d1;
	padding-left: 5px;
}

.nav .search-box .search-btn {
	width: 60px;
	height: 26px;
	line-height: 26px;
	color: #fff;
	background: #00c8db;
	border: none;
	border-radius: 3px;
	font-size: 14px;
	text-align: center;
}


/*banner*/

.banner {
	width: 100%;
}

.banner .gallery-top {
	width: 100%;
	height: 400px;
}

.banner .gallery-top .swiper-slide {
	height: 400px;
	display: block;
}

.banner .gallery-top .swiper-slide:nth-child(1) {
	background: url("../images/b1.png") no-repeat center top;
}

.banner .gallery-top .swiper-slide:nth-child(2) {
	background: url(../images/b2.png) no-repeat center top;
}

.banner .gallery-top .swiper-slide:nth-child(3) {
	background: url(../images/b3.png) no-repeat center top;
}

.banner .gallery-top .swiper-slide:nth-child(4) {
	background: url(../images/b1.png) no-repeat center top;
}

.banner .gallery-top .swiper-slide:nth-child(5) {
	background: url(../images/b2.png) no-repeat center top;
}

.banner .gallery-top .swiper-slide:nth-child(6) {
	background: url(../images/b3.png) no-repeat center top;
}

.banner .gallery-left {
	width: 250px;
	height: 400px;
	background: rgba(0, 0, 0, 0.5);
	top: -400px;
	z-index: 999;
	left: 0;
}

.banner .gallery-left h3 {
	height: 50px;
	line-height: 50px;
	color: #fff;
	font-size: 12px;
	padding-left: 40px;
}

.banner .gallery-left .swiper-pagination {
	width: 250px;
	height: 330px;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet {
	width: 250px;
	height: 55px;
	line-height: 52px;
	border-radius: 0;
	background: none;
	color: #fff;
	opacity: 1;
	text-align: left;
	text-indent: 100px;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet:nth-child(1) {
	background-image: url(../images/icon1.png);
	background-repeat: no-repeat;
	background-position: 45px center;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet:nth-child(2) {
	background-image: url(../images/icon2.png);
	background-repeat: no-repeat;
	background-position: 45px center;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet:nth-child(3) {
	background-image: url(../images/icon3.png);
	background-repeat: no-repeat;
	background-position: 45px center;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet:nth-child(4) {
	background-image: url(../images/icon6.png);
	background-repeat: no-repeat;
	background-position: 45px center;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet:nth-child(5) {
	background-image: url(../images/icon4.png);
	background-repeat: no-repeat;
	background-position: 45px center;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet:nth-child(6) {
	background-image: url(../images/icon5.png);
	background-repeat: no-repeat;
	background-position: 45px center;
}

.banner .gallery-left .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: rgba(225, 225, 225, 0.2);
}

.banner .swiper-button-next {
	right: 50px;
}